<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RBC_APP"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RBC_APP">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginSeeker"/>
        <activity android:name=".login.LoginEmployer"/>
        <activity android:name=".SignUp.signUpSeeker"/>
        <activity android:name=".SignUp.signUpEmployer"/>
        <activity android:name=".HomeScreen"/>
        <activity android:name=".BottomNav.BottomNavigationActivity"
                  android:clearTaskOnLaunch="true"/>
        <activity android:name=".BottomNav.Screens.Internships"/>
        <activity android:name=".BottomNav.Screens.JobsActivity"/>
        <activity android:name=".BottomNav.Screens.FreeLance"/>
        <activity android:name="com.example.freelanceapp.ui.screens.AddFreelanceWork"/>
        <activity android:name=".InternJobFreelanceAdd.AddInternship"/>
        <activity android:name=".InternJobFreelanceAdd.AddJobActivity"/>
        <activity android:name=".JobFormActivities.jobFormActivity"/>
        <activity android:name=".DetailedFreelance"/>
        <activity android:name=".FreeLanceFormActivities.FreeLanceFormActivity"/>
        <activity android:name=".DetailedJob"/>
        <activity android:name=".JobList.SavedJobsActivity"/>
        <activity android:name=".InternshipFormActivities.InternshipFormActivity"/>
        <activity android:name=".detailedInternshipActivity"/>
        <activity android:name=".MentorshipsActivity"/>
        <activity android:name=".MoreOppActivity"/>
        <activity android:name=".RbcContactInfoActivity"/>
        <activity android:name=".ProMembershipActivity"/>
    </application>

</manifest>